*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: white;
    
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    width: 100%;
    height: 100%;
    
}

.d-flex{
    display: flex;
    align-items: center;
}

h2{
    font-size: 4.8rem;
    margin-bottom: 4.8rem;
    letter-spacing: .3rem;
    text-align: center;
}

.button{
    padding: 1.3rem 2.5rem;
    color: white;
    border: 1px solid white;
    background-color: hotpink;
    border-radius: 5px;
    letter-spacing: 1px;

}

header{
    background-color: rgb(94, 4, 94);
    padding: 3rem 0;
    position: sticky;
    z-index: 999;
}

header .header__content{
    width: 70%;
    margin: 0 auto;
    justify-content: space-evenly;
    font-weight: 700;
}

header .header__content .header__title {
    font-size: 3.7rem;
    
}
header .header__content .header__navbar li{
    margin: 0 3rem;
}

header .header__content .header__navbar .active a{
    color: hotpink;
}

header .header__content .header__navbar li a{
    letter-spacing: 2px;
    font-size: 1.5rem;
    color: white;
    transition: 0.5s;
}

header .header__content .header__navbar li a:hover{ 
    color: hotpink;
}

.carousel {
    background-image: url(../img/b3.jpg);
    background-size: cover;
    background-position: center;
    height: 70rem;
    justify-content: center;
    text-align: center;

}

.carousel .carousel__content h1{
    font-size: 5rem;
}

.carousel .carousel__content p{
    margin: 2rem 0 3rem;
    font-size: 2rem;
}

.carousel .carousel__content .button__carousel{
    transition: all 0.5s ease-in;
}

.carousel .carousel__content .button__carousel:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.intro .intro__content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.intro .intro__content .intro__text h3{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.intro .intro__content .intro__text p{
    font-size: 1.6rem;
    line-height: 2.9rem;
    
}

.intro__text{
    text-align: center;
    padding: 0  3.2rem;
    display: flex;
    align-items: center;
}

.intro .intro__content .intro__item:nth-child(2){
    grid-column: 2/ span 2;
}

.intro .intro__content .intro__text:first-child{
    background-color: aqua;
}

.intro .intro__content .intro__text:nth-child(3){
    background-color:  rgb(6, 255, 172);
}

.intro .intro__content .intro__text:nth-child(4){
    background-color:  blueviolet;
    grid-column: 1/ span 2;
}

.intro .intro__content .intro__text:nth-child(6){
    background-color:  brown;
}

.intro .intro__content .intro__text:nth-child(7){
    background-color:  rgb(226, 43, 43);
}

.intro .intro__content .intro__text:nth-child(9){
    background-color:  rgb(70, 43, 226);
    grid-column: 3/span 2;
}

/* number */
.number{
    height: 25vh;
}

.number .number__list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.number .number__list .number__item{
    margin: 0 5rem;
}

.number .number__list .number__item p:first-of-type{
    font-weight: bold;
    font-size: 2.5rem;
    color: blueviolet;
    margin-bottom: 2rem;
}

.number .number__list .number__item p:last-of-type{
    font-weight: bold;
    font-size: 2rem;
    color: black;
    letter-spacing: .4rem;
}

.service{
    background-image: url(../img/s1.jpg);
    background-size: cover;
    text-align: center;
    padding: 7rem 0 8.5rem;
}



.service .service__content{
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.service .service__content .service__item {
    padding: 0 2rem;
}

.service .service__content .service__item i{
    width: 10.5rem;
    height: 10.5rem;
    line-height: 10.5rem;
    background-color: azure;
    border: 1px solid rgba(0, 0, 0,0.2);
    border-radius: 50%;
    font-size: 6rem;
    color: blueviolet;
    margin-bottom: 2rem;
    transition: all .5s;
}

.service .service__content .service__item:hover i{
    color: pink;
}

.service .service__content .service__item h3{
    font-size: 2.5rem;
    color: black;
}

.service .service__content .service__item p{
    font-size: 1.4rem;
    line-height: 1.5;
    color: black;
    margin: 2rem 0 3rem;
}

.service .service__content .service__item .button__service:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.gallery{
    padding: 5rem 0;
    height: 100%;
    width: 100%;
    position: relative;
}

.gallery h2{
    color: black;
    
}

.gallery .gallery__content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    padding: 0 1.5rem;

}

.gallery .gallery__content .gallery__g1{
    grid-column: 1 / span 2;
}

.gallery .gallery__content .gallery__g6{
    grid-column: 3/ span 2;
}

.gallery .gallery__content .gallery__item{
    overflow: hidden;
}

.gallery .gallery__content .gallery__item{
    position: relative;
}

.gallery .gallery__content .gallery__item .gallery__overlay{
    
}

.gallery .gallery__content .gallery__item .gallery__overlay h3{
    transform: translateY(2rem);
    font-size: 2.5rem;
    transition: all .5s;
}

.gallery .gallery__content .gallery__item:hover .gallery__overlay h3{
    transform: translateY(0);
}

.gallery .gallery__content .gallery__item .gallery__overlay h3::after{
    content: "";
    width: 100%;
    height: .5rem;
    display: block;
    background-color: white;
    transform: translateY(3rem);
    transition: all .5s;
    opacity: 0;
}

.gallery .gallery__content .gallery__item:hover .gallery__overlay h3::after{
    transform: translateY(10rem);
    opacity: 1;
}

.gallery .gallery__content .gallery__item .gallery__overlay span{
    font-weight: 300;
}

.gallery .gallery__content .gallery__item .gallery__overlay p{
    position: absolute;
    right: 2.8rem;
    bottom: 3.8rem;
    transform: translateY(5rem);
    transition: all .5s;
    opacity: 0;
    font-size: 1.4rem;
}

.gallery .gallery__content .gallery__item:hover .gallery__overlay p{
    transform: translateY(0);
    opacity: 1;
}


.overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.overlay.show{
    display: block;
}

.overlay .imager__inner{
    width: 20%;
    height: 20%;
   
}

.overlay .close{
    cursor: pointer;
    font-size: 5rem;
    position: absolute;
    top: 20%;
    right: 20%;
    color: rgb(255, 255, 255);
}

.overlay .right{
    cursor: pointer;
    font-size: 5rem;
    position: absolute;
    top: 50%;
    right: 1%;
    color: rgb(255, 255, 255);
}

.overlay .left{
    cursor: pointer;
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 1%;
    color: rgb(255, 255, 255);
}

.hide{
    display: none;
}